_/Chapter 11/TravelApprovalBPM/UnitedAirlines/UnitedAirlines.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    
     targetNamespace="http://packtpub.com/service/airline/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:tns="http://packtpub.com/service/airline/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <plnk:partnerLinkType name="UnitedflightLT">
        <plnk:role name="UnitedairlineService">
            <plnk:portType name="tns:UnitedFlightAvailabilityPT"/>
        </plnk:role>
        <plnk:role name="UnitedairlineCustomer">
            <plnk:portType name="tns:UnitedFlightCallbackPT"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <types>
        <xsd:schema targetNamespace="http://packtpub.com/service/airline/types" elementFormDefault="qualified"/>
        <xsd:schema>
            <xsd:import schemaLocation="xsd/AirlineTypes.xsd" namespace="http://packtpub.com/service/airline/"/>
        </xsd:schema>
    </types>
    <message name="TravelResponseMessage">
        <part name="confirmationData" element="tns:confirmationData"/>
    </message>
    <message name="ReservationResponseMessage">
        <part name="reservationData" element="tns:reservationData"/>
    </message>
    <message name="FlightTicketRequestMessage">
        <part name="flightTicketRequest" element="tns:flightTicketRequest"/>
    </message>
    <portType name="UnitedFlightCallbackPT">
        <operation name="FlightTicketCallback">
            <input message="tns:TravelResponseMessage"/>
        </operation>
        <operation name="MakeReservationCallback">
            <input message="tns:ReservationResponseMessage"/>
        </operation>
    </portType>
    <portType name="UnitedFlightAvailabilityPT">
        <operation name="FlightAvailability">
            <input message="tns:FlightTicketRequestMessage"/>
        </operation>
        <operation name="MakeReservation">
            <input message="tns:TravelResponseMessage"/>
        </operation>
    </portType>
</definitions>
