_/Chapter 6/TravelApprovalMasterDetail/TravelApproval/xsd/FlightReservationRequestType.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"      
            targetNamespace="http://packtpub.com/bpel/travel/reservation" 
            xmlns:tns="http://packtpub.com/bpel/travel/reservation"
            xmlns:bons0="http://packtpub.com/service/airline/" 
            elementFormDefault="qualified">
    <xsd:import namespace="http://packtpub.com/service/airline/" schemaLocation="FlightConfirmationType.xsd"/>   
    <xsd:element name="flightReservation" type="tns:FlightReservationRequestType"/>
    <xsd:complexType name="FlightReservationRequestType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="confirmationData" type="bons0:FlightConfirmationType"/>
            <xsd:element minOccurs="0" name="airline" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
