_/Chapter 6/EmployeeSDOApp/EmployeeSDO/classes/employeesdo/common/serviceinterface/EmployeeSDOService.wsdl

<wsdl:definitions
     name="EmployeeSDOService"
     targetNamespace="/employeesdo/common/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="/employeesdo/common/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="/employeesdo/common/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/employeesdo/common/types/" schemaLocation="EmployeeSDOService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="EmployeeSDOService_getEmployeesView1">
        <wsdl:part name="parameters" element="types:getEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_getEmployeesView1Response">
        <wsdl:part name="parameters" element="types:getEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_createEmployeesView1">
        <wsdl:part name="parameters" element="types:createEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_createEmployeesView1Response">
        <wsdl:part name="parameters" element="types:createEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_updateEmployeesView1">
        <wsdl:part name="parameters" element="types:updateEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_updateEmployeesView1Response">
        <wsdl:part name="parameters" element="types:updateEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_deleteEmployeesView1">
        <wsdl:part name="parameters" element="types:deleteEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_deleteEmployeesView1Response">
        <wsdl:part name="parameters" element="types:deleteEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_mergeEmployeesView1">
        <wsdl:part name="parameters" element="types:mergeEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_mergeEmployeesView1Response">
        <wsdl:part name="parameters" element="types:mergeEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_findEmployeesView1">
        <wsdl:part name="parameters" element="types:findEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_findEmployeesView1Response">
        <wsdl:part name="parameters" element="types:findEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_processEmployeesView1">
        <wsdl:part name="parameters" element="types:processEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_processEmployeesView1Response">
        <wsdl:part name="parameters" element="types:processEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_processCSEmployeesView1">
        <wsdl:part name="parameters" element="types:processCSEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="EmployeeSDOService_processCSEmployeesView1Response">
        <wsdl:part name="parameters" element="types:processCSEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeSDOService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="EmployeesView1" SDOName="tns:EmployeesViewSDO"
                 CreateOpName="createEmployeesView1" UpdateOpName="updateEmployeesView1" DeleteOpName="deleteEmployeesView1"
                 MergeOpName="mergeEmployeesView1" GetOpName="getEmployeesView1" FindOpName="findEmployeesView1"
                 ProcessOpName="processEmployeesView1" ProcessCSOpName="processCSEmployeesView1"/>
        </wsdl:documentation>
        <wsdl:operation name="getEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_getEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_getEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_createEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_createEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_updateEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_updateEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_deleteEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_deleteEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_mergeEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_mergeEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_findEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_findEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_processEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_processEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processCSEmployeesView1">
            <wsdl:input message="tns:EmployeeSDOService_processCSEmployeesView1"/>
            <wsdl:output message="tns:EmployeeSDOService_processCSEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeSDOServiceSoapHttp" type="tns:EmployeeSDOService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/getEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/createEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/updateEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/deleteEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/mergeEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/findEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/processEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processCSEmployeesView1">
            <soap:operation soapAction="/employeesdo/common/processCSEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeeSDOService">
        <wsdl:port name="EmployeeSDOServiceSoapHttpPort" binding="tns:EmployeeSDOServiceSoapHttp">
            <soap:address location="http://localhost:7101/EmployeeSDOApp-EmployeeSDO-context-root/EmployeeSDOService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
