_/Chapter 11/TravelApprovalBPM/TravelApproval/xsd/TicketOfferRequestType.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://packtpub.com/bpel/ticketoffer/"
     targetNamespace="http://packtpub.com/bpel/ticketoffer/" xmlns:bons0="http://packtpub.com/service/airline/"
     xmlns:bons1="http://packtpub.com/service/employee/" elementFormDefault="qualified">
    <xsd:import schemaLocation="TravelClassType.xsd" namespace="http://packtpub.com/service/employee/"/>
    <xsd:import schemaLocation="FlightRequestType.xsd" namespace="http://packtpub.com/service/airline/"/>
    <xsd:element name="FlightTicketRequest" type="FlightTicketRequestType"/>
    <xsd:complexType name="FlightTicketRequestType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="flightData" type="bons0:FlightRequestType"/>
            <xsd:element minOccurs="0" name="travelClass" type="bons1:TravelClassType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
